.book-details {
  padding: 40px 60px;
  background: #f3f2ef;
  min-height: 100vh;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.back {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.back img {
  width: 24px;
  height: 24px;
}

.bold {
  font-weight: 600;
  color: black;
}

.actions {
  display: flex;
  gap: 20px;
}

.actions .edit {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.actions .delete {
  background: none;
  border: none;
  color: #d00000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.details-content {
  display: grid;
  grid-template-columns: 1fr minmax(260px, 320px);
  gap: 48px;
}

.text h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  margin-bottom: 24px;
}

.description-details {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.cover-wrapper {
  width: 100%;
  max-width: 280px;
  aspect-ratio: 3 / 4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
